.color {
    color: blue;
}

.moreBoulder {
    font-weight: bolder;
}

.bordered {
    border: 2px solid black;
}

.roundedBorder {
    border-radius: 5px;
}

section:first-child{
    font-weight: bold;
}

section:last-child {
    font-weight: bold;
    font-style: italic;
}